/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Prompt', sans-serif;
}

/* HEADER */
header {
  padding: 4rem 2rem;
  position: relative;
  z-index: 2;
}

.nav-link {
  font-family: 'Outfit', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #ccc;
  margin-left: 2rem;
  text-decoration: none;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.nav-link.ativo {
  color: #fff;
  font-weight: 600;
}

.nav-link:hover,
.nav-link:focus {
  color: #fff;
}

/* MAIN */
main {
  min-height: 100vh;
  padding: 6rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  margin-top: -18rem; /* sobe o título */
}

p {
  margin-top: 0.5rem; /* menos espaço entre o título e o parágrafo */
  font-size: 1.4rem;
  font-weight: 300;
  color: #ccc;
  max-width: 800px;
}


.arrow {
  width: 30px;
  height: 30px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  transform: rotate(-45deg); /* seta apontando para baixo */
  margin: 0 auto;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.arrow:hover {
  opacity: 0.7;
}




/* PORTFÓLIO GRID */
#portfolio {
  padding: 4rem 2rem 6rem;
  margin-top: -6rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9px;
  max-width: 1400px;
  margin: 0 auto;
}

.grid-item {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: none;
}

html {
  scroll-behavior: smooth;
}
