* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Prompt', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 4rem 2rem;
  position: relative;
  z-index: 2;
}

nav a {
  font-family: 'Outfit', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: #ccc;
  margin-left: 2rem;
  text-decoration: none;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

nav a.ativo {
  color: #fff;
  font-weight: 600;
}

nav a:hover,
nav a:focus,
nav a:active {
  color: #fff;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  padding: 4rem 2rem 2rem;
  position: relative;
  z-index: 1;
  color: #fff;
  min-height: 100vh;
}

h1 {
  font-family: 'Prompt', sans-serif;
  font-size: 3rem;
  margin-top: -3rem;
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  font-weight: 300;
  color: #ccc;
  max-width: 800px;
}

.buttons {
  margin-top: 3rem;
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons a {
  border-radius: 4px;
  text-decoration: none;
  background-color: #1a1919;
  color: #fff;
  border: 1px solid #000000;
  padding: 1rem 2rem;
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s ease;
  min-width: 150px;
  text-align: center;
}

.buttons a:hover {
  background-color: #fff;
  color: #000;
}

body {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

body.fade-in {
  opacity: 1;
}

/* EMAIL */
.email {
  margin-top: 2rem;
  text-align: center;
}

.email a {
  color: #fff;
  font-weight: 700;
  text-decoration: underline;
  font-size: 1.2rem;
  transition: opacity 0.3s ease;
}

.email a:hover {
  opacity: 0.7;
}
